@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-weight: 800;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    @apply border-2 border-gray-500 rounded-lg shadow-lg overflow-hidden cursor-pointer m-auto;
}

.selected {
    @apply border-yellow-500 shadow-yellow-500 shadow-xl;
}

.completed-card {
    @apply border-2 border-black m-0 p-0 w-[100%] h-12 object-cover;
}

.notification {
    @apply rounded-lg border border-green-800 p-3 backdrop-blur-sm fixed top-10 left-2 right-2 bg-green-500/75 motion-safe:transition-all duration-1000;
}

.notification-enter {
    @apply bg-transparent text-transparent border-transparent !backdrop-blur-none;
}

.notification-leave {
    @apply transform translate-x-[110%];
}
